<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <div id="aaa">
        <div style="width: 100%">
            <div style="float: left; text-align: center; width: 50%">
                <h3>UBND HUYỆN NA RÌ</h3>
                <h3>THCS CÔN MINH</h3>
            </div>

            <div style="text-align: center;">
                <h3>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h3>
                <h3>Độc lập - Tự do - Hạnh phúc</h3>
            </div>
        </div>
        <div style="text-align:center;  margin-top: 70px; clear: both">
            <h3>KẾT QUẢ XÉT TỐT NGHIỆP THCS</h3>
            <p>NĂM HỌC: 2019 - 2020</p>
        </div>
        <div style="width: 100%; text-align:center; margin-top: 20px">
            <table style="width:100% ; border: 1px solid black ; border-collapse: collapse; ">
                <tr style=" border: 1px solid black ; border-collapse: collapse ">
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 50px" rowspan="2">STT</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 100px" colspan="2">Họ và tên</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 30px" rowspan="2">Nữ</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 90px" rowspan="2">Ngày sinh</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 250px" rowspan="2">Nơi sinh</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 220px" rowspan="2">Hộ khẩu thường trú</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 50px" rowspan="2">Lớp</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 70px" rowspan="2">Dân tộc</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 40px" rowspan="2">Xét HK</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 40px" rowspan="2">ƯT</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 40px" rowspan="2">KK</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 " colspan="5">Kết quả lớp 9</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 50px" rowspan="2">Kết Quả</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 60px" rowspan="2">Xếp Loại</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ;padding: 10px 0 ; width: 60px" rowspan="2">Hệ đào tạo</th>
                </tr>
                <tr style=" border: 2px solid black ; border-collapse: collapse ">
                    <th style=" border: 2px solid black ; border-collapse: collapse ; padding: 10px 0 "></th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ; padding: 10px 0 "></th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ; padding: 10px 0 ; width: 40px">HK</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ; padding: 10px 0 ; width: 50px">HL</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ; padding: 10px 0 ; width: 50px">Văn</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ; padding: 10px 0 ; width: 60px">Toán</th>
                    <th style=" border: 2px solid black ; border-collapse: collapse ; padding: 10px 0 ">Các Môn Khác</th>
                </tr>
                {0}
            </table>
        </div>
    </div>
</body>
</html>